html {
  margin: 0;
}

body {
  margin: 0;
  background-color: #212132;
}

#snowRain {
  position: absolute;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: -1;
}

.fa-snowflake-o {
  color: #fff;
  position: absolute;
  top: -20px;
  shape-rendering: auto;
  animation: rain linear forwards;
}

@keyframes rain {
  to {
    transform: translateY(105vh);
  }
}