*,
html {
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.options>select {
  text-align: center;
}

.input-button {
  flex-direction: row;
}

.header {
  text-align: center;
  text-decoration: wavy;
  font-size: 44px;
  letter-spacing: 7px;
  animation: colorRotate 2s linear 1s infinite;
}

#quality-label {
  letter-spacing: 3px;
  padding-left: 96px;
  animation: colorRotate 1s linear 1s infinite;
}

#conversion-label {
  letter-spacing: 3px;
  animation: colorRotate 1s linear 1s infinite;
}

#bitrate-label {
  letter-spacing: 3px;
  padding-left: 98px;
  animation: colorRotate 1s linear 1s infinite;
}

#downloading {
  animation: colorRotate 2.5s linear 1s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }

  10% {
    color: #0099ff;
  }

  25% {
    color: #009966;
  }

  50% {
    color: #00ff00;
  }

  75% {
    color: #ff3399;
  }

  100% {
    color: #6666ff;
  }
}

select {
  margin: 20px;
  width: 250px;
  padding: 6px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 8px;
  height: 35px;
  background: url(https://img.icons8.com/fluency/48/null/expand-arrow.png) no-repeat right #ddd;
  -webkit-appearance: initial;
  appearance: inherit;
  background-position-x: 210px;
  background-size: 35px;
}

.input-url {
  border-radius: 16px;
  width: 35em;
  border: 2px solid #eeeeee;
  background: #eeeeee;
  outline: none;
}

.status {
  padding: 2em;
}

.input-url:focus {
  border: 2px solid #0485ff;
}

.button-convert {
  cursor: pointer;
  border-radius: 3px;
  border: 2px solid #0485ff;
  background: #0485ff;
  color: #fff;
  margin-left: 15px;
  letter-spacing: 2px;
}

.input-url,
.button-convert {
  padding: 10px 15px;
}